html, body.my-body { 
    background-color: $beige;   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.my-border {
    @include tablet {
        @include border;
    }
}
h1.my-title, h2.my-title {
    @include font($pacifico);
}

.columns {
    margin-right: 0;
    margin-left: 0;
    .column {
        padding-right: 0;
        padding-left: 0;
    }
}
.is-fullheight{
    height:100vh;
}

.button.my-btn {
    background: $yellow;
    border: $yellow;
    transition-duration: 0.4s;
    &:hover {
        background: hsl(57, 96%, 45%);
    }
    &:focus{
        border: #fcf45d;
    }
}
.button.is-focused:not(:active), .button:focus:not(:active){
    box-shadow: none;
}

body.my-body{
    @include font;
    color: $dark-green
}

.title, .card {
    color: $dark-green;

}
a.my-link {
    color: $light-green;
}
i.fa-brands{
    color: $light-green;
    font-size: 1.25rem;
}
label {
    font-size: 14px;
    display: block;
    @include desktop{
        display: inline;
    }
}
