//PRODUKTSIDAN
.sort {
    width: 80%;
    height: 50%;
    .filter-items:not(:last-child) {
        border-bottom: 1px solid $dark-green;
        width:100%;
        min-height: 10%;
        @include flex;
            .checkboxes {
                margin: 4px 0;
            }
    }
}
.filter, .reset {
    &:hover {
        cursor: pointer;
    }
}
.products, .employees {
    @include flex($direction: row, $justify:center, $align: stretch, $wrap: wrap);
    gap: 15px; 
}
.product {
    width: 250px;
    height:30%;
    background: $white;
    padding: 5px;
    border-radius: 3px;
    &:hover {
        transform: scale(1.03);
    }
    //Media query för att få två produkter bredvid varandra ner till 420 px-enheter
    @media (max-width: 540px) and (min-width: 420px){
        width: 45%;
        height: 30%;
    }
}
.my-img {
    width: 80%;
    height: 200px;
    border-radius: 3px;  
}


//KUNDOMDÖMEN
article.media {
    width: 90%;
    @include tablet{
        width: 60%;
    }
}
.media+.media {
    border-top: 1px solid $dark-green;
}
//för att göra kommentarsrutan större
.media-content{
    width: 70%;
}
article.media figure {
    text-align:center;
}
select.star-rating {
    @include font;
}
.fa-solid.fa-star {
    color: $dark-green;
}
.star-radiobtn label {
    display: inline;
}
.textarea:focus {
    border: 1px solid $dark-green;
}

//OM OSS
.employee-card {
    width: 300px;
    background: $white;
    padding: 5px;
    border-radius: 3px;
}
.image img.employee-img{
    width: 96px;
    height: 96px;
}

.content{
    @include mobile {
        font-size: 0.875rem;
    }
}
.e-mail {
    color: $light-green;
    &:hover{
        color: $dark-green;
    }
}

//KONTAKT
form {
    width: 80%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 0.5rem;
    
}
.contact-labels {
    display: block;
    margin-top: 2px;
    font-weight: 700;
}
#email, #reason, #text {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
