.my-border {
    @include tablet {
        @include border;
    }
}
.tile.is-ancestor.my-tile {
    @include mobile{
    margin-top: 10px;
    }
}
h1.my-title, h2.my-title {
    @include font($pacifico);
}

//Produktsidan
.sort {
    width: 80%;
    height: 50%;
    .filter-items {
        border-bottom: 1px solid $dark-green;
        width:100%;
        min-height: 10%;
        @include flex;
       .checkboxes {
        margin: 4px 0;
       }
    }
}
.products, .employees {
    @include flex($direction: row, $justify:center, $wrap: wrap);
    gap: 15px; 
}
.product {
    width: 250px;
    height:30%;
    background: $white;
    padding: 5px;
    border-radius: 3px;
    &:hover {
        transform: scale(1.03);
    }
    @media (max-width: 475px){
        width: 45%;
        height: 30%;
    }
}
.my-img {
    width: 80%;
    height: 200px;
    border-radius: 3px;
   
}

//Kundomdömen
article.media {
    width: 60%;
    @include mobile{
        width: 90%;
    }
}
.media+.media {
    border-top: 1px solid $dark-green;
}
.media-content{
    width: 70%;
}
article.media figure {
    text-align:center;
}
select.star-rating {
    @include font;
}
.fa-solid.fa-star {
    color: $dark-green;
}
.textarea:focus {
    border: 1px solid $dark-green;
}

//Om oss
.employee-card {
   width: 300px;
       background: $white;
    padding: 5px;
    border-radius: 3px;
    @media (max-width: 640px){
        width:80%;
    }
}
.content{
    @include mobile {
        font-size: 14px;
    }
}
.e-mail {
    color: $light-green;
    &:hover{
        color: $dark-green;
    }
}
