// Standardfärger
$beige: #F0EAD2;
$light-green: #B9D989;
$dark-green: #013819;
$header-color: #144121;
$yellow: #fcf45d;
$white: #FFFFFB;

//Fonts
$pacifico: 'Pacifico', cursive;
$quicksand: 'Quicksand', sans-serif;

//Breakpoints
$mobile: 768px;