html, body.my-body {
  background-color: #F0EAD2;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .my-border {
    border: 10px dotted #013819;
    padding: 6px;
  }
}

h1.my-title, h2.my-title {
  font-family: "Pacifico", cursive;
}

.columns {
  margin-right: 0;
  margin-left: 0;
}
.columns .column {
  padding-right: 0;
  padding-left: 0;
}

.is-fullheight {
  height: 100vh;
}

.button.my-btn {
  background: #fcf45d;
  border: #fcf45d;
  transition-duration: 0.4s;
}
.button.my-btn:hover {
  background: hsl(57deg, 96%, 45%);
}
.button.my-btn:focus {
  border: #fcf45d;
}

.button.is-focused:not(:active), .button:focus:not(:active) {
  box-shadow: none;
}

body.my-body {
  font-family: "Quicksand", sans-serif;
  color: #013819;
}

.title, .card {
  color: #013819;
}

a.my-link {
  color: #B9D989;
}

i.fa-brands {
  color: #B9D989;
  font-size: 1.25rem;
}

label {
  font-size: 14px;
  display: block;
}
@media (min-width: 1024px) {
  label {
    display: inline;
  }
}

.header nav {
  background-color: #144121;
}

.navbar-item img.my-logo {
  width: 150px;
  height: 68px;
  max-height: 68px;
}

.navbar-end .navbar-item {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.navbar-end .navbar-item:hover {
  color: #B9D989;
  background: #144121;
}
.navbar-end .navbar-item:hover:not(:last-child) {
  border-bottom: 3px solid #B9D989;
}

.navbar-burger span, .navbar-item.my-link {
  color: #B9D989;
}

.fa-solid {
  color: #013819;
}

.nav-active-page {
  border-bottom: 3px solid #B9D989;
}

.sort {
  width: 80%;
  height: 50%;
}
.sort .filter-items:not(:last-child) {
  border-bottom: 1px solid #013819;
  width: 100%;
  min-height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.sort .filter-items:not(:last-child) .checkboxes {
  margin: 4px 0;
}

.filter:hover, .reset:hover {
  cursor: pointer;
}

.products, .employees {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 15px;
}

.product {
  width: 250px;
  height: 30%;
  background: #FFFFFB;
  padding: 5px;
  border-radius: 3px;
}
.product:hover {
  transform: scale(1.03);
}
@media (max-width: 540px) and (min-width: 420px) {
  .product {
    width: 45%;
    height: 30%;
  }
}

.my-img {
  width: 80%;
  height: 200px;
  border-radius: 3px;
}

article.media {
  width: 90%;
}
@media (min-width: 768px) {
  article.media {
    width: 60%;
  }
}

.media + .media {
  border-top: 1px solid #013819;
}

.media-content {
  width: 70%;
}

article.media figure {
  text-align: center;
}

select.star-rating {
  font-family: "Quicksand", sans-serif;
}

.fa-solid.fa-star {
  color: #013819;
}

.star-radiobtn label {
  display: inline;
}

.textarea:focus {
  border: 1px solid #013819;
}

.employee-card {
  width: 300px;
  background: #FFFFFB;
  padding: 5px;
  border-radius: 3px;
}

.image img.employee-img {
  width: 96px;
  height: 96px;
}

@media (max-width: 768px) {
  .content {
    font-size: 0.875rem;
  }
}

.e-mail {
  color: #B9D989;
}
.e-mail:hover {
  color: #013819;
}

form {
  width: 80%;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

.contact-labels {
  display: block;
  margin-top: 2px;
  font-weight: 700;
}

#email, #reason, #text {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

.my-footer {
  background-color: #144121;
  padding: 0;
}
.my-footer .column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.my-footer .column .title {
  color: #B9D989;
}/*# sourceMappingURL=style.css.map */